<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Hello
I’m Bertie Norton">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Portfolio</title>
    <link rel="stylesheet" href="static/css/designeds.css" media="screen">
<link rel="stylesheet" href="static/css/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="static/js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/js/desin.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "abhishekinfo",
		"url": "/",
		"logo": "static/images/Screenshot_2021-07-18_04_06_22.png",
		"sameAs": []
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="index">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
  </head>
  <body data-home-page="https://abhishekinfo.nicepage.io/index.html?version=d2d6210b-4759-46b4-aea6-b20041362fe7" data-home-page-title="index" class="u-body"><header class="u-clearfix u-header u-header" id="sec-9aae"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="720">
          <img src="static/images/Screenshot_2021-07-18_04_06_22.png" class="u-logo-image u-logo-image-1" data-image-width="66.5677">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-offcanvas-shift u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="height: 24px; padding: 10px 4px; font-size: calc(1em + 20px); color: rgb(17, 17, 17) !important;">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 54 54" style=""><use xlink:href="#svg-c8d2"></use></svg>
              <svg class="u-svg-content" viewBox="0 0 54 54" x="0px" y="0px" id="svg-c8d2" style="enable-background:new 0 0 54 54;"><circle style="fill:#38454F;" cx="27" cy="27" r="27"></circle><line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" x1="15" y1="16" x2="39" y2="16"></line><line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" x1="15" y1="27" x2="39" y2="27"></line><line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" x1="15" y1="38" x2="39" y2="38"></line></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/index.html#carousel_ff5c" data-page-id="514550" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/index.html#carousel_c0dc" data-page-id="514550" style="padding: 10px 20px;">Projects</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/index.html#sec-f08b" data-page-id="514550" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/index.html#carousel_9aee" data-page-id="514550" style="padding: 10px 20px;">Contact</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index.html#carousel_ff5c" data-page-id="514550" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index.html#carousel_c0dc" data-page-id="514550" style="padding: 10px 20px;">Projects</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index.html#sec-f08b" data-page-id="514550" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index.html#carousel_9aee" data-page-id="514550" style="padding: 10px 20px;">Contact</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_ff5c" data-image-width="2000" data-image-height="1333">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-xs u-image u-image-1" src="static/images/Screenshot_2021-07-18_04_06_22.png" data-image-width="1280" data-image-height="720">
        <div class="u-align-left-sm u-align-left-xs u-container-style u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-black u-text-1">Hello <br>I’m Abhishek kumar
            </h2>
            <p class="u-align-left-lg u-align-left-md u-align-left-xl u-custom-font u-hidden-xs u-text u-text-2">
              <span style="font-weight: 700;"> CARRIER OBJECTIVE:</span>
              <span style="font-size: 1rem;">To build carrier in an organisation where I can get the opportunities to prove my abilities by accepting challenges, fulfilling the organisational goals and climb the carrier ladder through continuous learning and commitment.</span>
            </p>
            <a href="static/images/harman resume.pdf" class="u-active-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-2-base u-radius-8 u-text-active-palette-1-dark-1 u-text-body-alt-color u-text-hover-grey-25 u-btn-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">Download RESUME&nbsp;&nbsp;<span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><g><g><path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64    c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472    c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"></path>
</g>
</g><g><g><path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"></path>
</g>
</g></svg><img></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-2" id="sec-f08b" data-image-width="2000" data-image-height="1333">
      <div class="u-clearfix u-sheet u-valign-top-md u-valign-top-sm u-sheet-1">
        <div class="u-container-style u-custom-color-2 u-expanded-width-sm u-group u-radius-20 u-shape-round u-group-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
          <div class="u-container-layout u-container-layout-1">
            <a href="#" class="u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-grey-80 u-hover-palette-2-base u-radius-50 u-text-hover-black u-btn-1">Edit</a>
            <p class="u-custom-font u-text u-text-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
              <span style="font-weight: 700;">Address</span>
              <br>
              <span style="font-size: 0.875rem;" class="u-text-palette-3-light-1">Chintamanpur, Chakmaruf, Belsar, Vaishali, Bihar, India, 844118</span>
              <br>
              <br>
              <span style="font-weight: 700;">DOB</span>
              <br>
              <span style="font-size: 0.875rem;" class="u-text-palette-3-light-1">12 Jan 2001</span>
              <br>
              <br>
              <span style="font-weight: 700;">Email</span>
              <br>
              <span style="font-size: 0.875rem;" class="u-text-palette-3-light-1">useeverywhere0@gmail.com</span>
              <br>
              <br>
              <span style="font-weight: 700;">Phone</span>
              <br>
              <span style="font-size: 0.875rem;" class="u-text-palette-3-base">+91-7903934401</span>
              <br>
              <br>
              <br>
            </p>
            <p class="u-text u-text-2" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
              <span style="font-weight: 700; text-decoration: underline !important;">SOCIAL PROFILE</span>
              <br>
              <br>
              <span style="font-weight: 700;">Github</span>
              <br>
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" href="https://github.com/abhishekkumar1437" target="_blank">https://github.com/abhishekkumar1437</a>
              <br>
              <span style="font-weight: 700;">LinkedIn</span>
              <br>
              <a href="https://www.linkedin.com/in/abhishek-kumar-software-developer/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3" target="_blank">https://www.linkedin.com/in/abhishek-kumar-software-developer/</a>
              <br>
              <span style="font-weight: 700;">Hackerearth</span>
              <br>
              <a href="https://www.hackerearth.com/@abhishek7834" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4" target="_blank">https://www.hackerearth.com/@abhishek7834</a>
              <br>
            </p>
          </div>
        </div>
        <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <a href="#" class="u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-grey-70 u-hover-palette-2-base u-radius-50 u-text-hover-black u-btn-5">Edit</a>
                <p class="u-text u-text-palette-1-base u-text-3">
                  <span style="font-size: 1.5rem;">&nbsp;<span style="text-decoration: underline !important;"> Education</span>
                  </span>
                  <span style="font-weight: 400;">
                    <span style="font-weight: 700;"></span>
                  </span>
                </p>
                <p class="u-align-center u-text u-text-4">
                  <span style="font-weight: 700;"> BAKHTIYARPUR COLLEGE OF ENGINEERING PATNA</span>
                  <br>
                  <span class="u-text-palette-5-light-3" style="font-size: 0.875rem; font-weight: 700;">Bachelor of technology in Computer Science and Engineering (2018 –2022)<br>CGPA: 7.92/10
                  </span>
                </p>
                <p class="u-align-center u-text u-text-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                  <span style="font-weight: 700;">Government High School Brahmpura Muzaffarpur</span>
                  <br>
                  <span class="u-text-palette-5-light-2" style="font-weight: 700; font-size: 0.875rem;">Intermediate in Science (2015 – 2017)<br>&nbsp;Percentage: 76.20/100
                  </span>
                </p>
                <p class="u-align-center u-text u-text-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                  <span style="font-weight: 700;">Government High School Brahmpura Muzaffarpur</span>
                  <br>
                  <span class="u-text-palette-5-light-2" style="font-weight: 700; font-size: 0.875rem;">Matriculation (2015)<br>Percentage: 71.80/100
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-palette-2-dark-3 u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="lightSpeedIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-border-3 u-border-grey-dark-1 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-line-1"></div>
                <h2 class="u-align-left u-custom-font u-font-open-sans u-text u-text-palette-1-base u-text-7">
                  <span style="font-size: 1.5rem;">
                    <span class="u-text-grey-5" style="text-decoration: underline !important;">TECHNICAL SKILLS</span>
                    <span class="u-text-grey-90"></span>
                  </span>
                  <span style="font-size: 1.875rem;">
                    <span class="u-text-black"></span>
                  </span>
                </h2>
                <a href="#" class="u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-grey-75 u-hover-palette-2-base u-radius-50 u-text-hover-black u-btn-6">Edit</a>
                <p class="u-align-center-lg u-align-center-md u-align-center-xl u-custom-font u-text u-text-palette-1-base u-text-8" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                  <span style="font-weight: 700;" class="u-text-white">Programming Language</span>
                  <br>
                  <span style="font-weight: 700;" class="u-text-palette-4-light-1">C, C++, Python</span>
                  <br>
                  <br>
                  <span style="font-weight: 700;" class="u-text-white">Web Development </span>
                  <br>
                  <span style="font-weight: 700;" class="u-text-grey-90">
                    <span style="font-weight: 700;">
                      <span class="u-text-palette-1-base">
                        <span class="u-text-palette-4-light-1">MySQL, Django, PhP, HTML, Bootstrap, CSS.</span>
                      </span>
                    </span>
                  </span>
                  <br>
                  <br>
                  <span style="font-weight: 700;" class="u-text-grey-90">
                    <span class="u-text-white">Machine Learning</span>
                    <span class="u-text-palette-1-base"></span>
                  </span>
                  <br>
                  <span style="font-weight: 700;" class="u-text-palette-4-light-1">Pandas, Numpy, Matplotlib, Sklearn, Seaborn and Learning Algorithms.</span>
                  <br>
                  <br>
                  <span style="font-weight: 700;" class="u-text-grey-90">
                    <span class="u-text-white">Other Skills &amp; Tools</span>
                    <br>
                    <span class="u-text-palette-4-light-1">Data Structure, MS Word,&nbsp; Linux, windows, Xampp</span>
                    <br>
                    <span style="font-weight: 400;">
                      <span style="font-weight: 700;"></span>
                      <span style="font-weight: 700;">
                        <span class="u-text-palette-1-base"></span>
                      </span>
                    </span>
                  </span>
                </p>
                <div class="u-border-3 u-border-grey-dark-1 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-line-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-grey-90 u-group u-shape-rectangle u-group-2" data-animation-name="rollIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <div class="u-container-layout u-container-layout-4">
            <p class="u-text u-text-9" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <span style="font-weight: 700;">EDITOR</span>
              <br>
              <br>
              <span class="u-text-palette-2-light-2">-&nbsp; Pycharm<br>-&nbsp; Visual Studio Code<br>-&nbsp; Jupyter Notebook
              </span>
              <br>
              <br>
              <span style="font-weight: 700;">SOFT SKILLS</span>
              <br>
              <br>
              <span class="u-text-palette-2-light-2">-&nbsp; Decision Making<br>-&nbsp; Problem Solving<br>-&nbsp; Team Work
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="skrollable u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-image u-parallax u-section-3" id="carousel_c0dc" data-image-width="2000" data-image-height="1333">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center-sm u-align-center-xs u-text u-text-black u-text-1">PROJECTS </h1>
        <p class="u-align-center u-hidden-sm u-hidden-xs u-text u-text-2">
          <span style="font-weight: 700;" class="u-text-black">OTHER CREATIVITY</span>
          <br>
        </p>
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-border-2 u-border-palette-5-light-1 u-container-style u-list-item u-palette-3-dark-3 u-repeater-item u-list-item-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-1">
                <h5 class="u-align-center-sm u-align-center-xs u-custom-font u-text u-text-font u-text-palette-5-light-1 u-text-3">&nbsp; Django Portfolio</h5>
                <p class="u-align-center-sm u-align-center-xs u-text u-text-4">&nbsp; April 2021 - May 2021</p>
                <div class="u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-2">
                    <p class="u-text u-text-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">This is my personal portfolio website.</p>
                    <p class="u-text u-text-6">
                      <span style="font-weight: 700;">Tools Used:</span>
                      <br>Python, Django, HTML, CSS, Bootstrap, Javascript....<br>Visit url:&nbsp;
                    </p>
                  </div>
                </div>
                <a href="#" class="u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-grey-75 u-hover-palette-2-base u-radius-50 u-text-hover-black u-btn-1">Edit</a>
              </div>
            </div>
            <div class="u-align-left u-border-2 u-border-palette-5-light-1 u-container-style u-list-item u-palette-3-dark-3 u-repeater-item u-list-item-2" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-3">
                <h5 class="u-align-center-sm u-align-center-xs u-custom-font u-text u-text-font u-text-palette-5-light-1 u-text-7">&nbsp; Aku website</h5>
                <p class="u-align-center-sm u-align-center-xs u-text u-text-8">&nbsp; May 2020 - July 2020</p>
                <div class="u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-4">
                    <p class="u-text u-text-9" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">This website is helpful for Bihar Engineering students to find proper college according to rankwise and finding notes, pyq,syllabus etc.</p>
                    <p class="u-text u-text-10">Tools Used<br>
                      <span style="font-weight: 400;">
                        <span style="font-weight: 700;"> MySQL, PhP, HTML, CSS, Bootstrap....</span>
                      </span>
                      <br>
                      <br>Visit url:
                    </p>
                  </div>
                </div>
                <a href="#" class="u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-grey-75 u-hover-palette-2-base u-radius-50 u-text-hover-black u-btn-2">Edit</a>
              </div>
            </div>
            <div class="u-align-left u-border-2 u-border-palette-5-light-1 u-container-style u-list-item u-palette-3-dark-3 u-repeater-item u-list-item-3" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-5">
                <h5 class="u-align-center-sm u-align-center-xs u-custom-font u-text u-text-font u-text-palette-5-light-1 u-text-11">&nbsp; Breast Cancer&nbsp; &nbsp; &nbsp; &nbsp;Detector</h5>
                <p class="u-align-center-sm u-align-center-xs u-text u-text-12">&nbsp; Jun 2021 - Jun 2021</p>
                <div class="u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-6">
                    <p class="u-text u-text-13" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X"> This is machine learning based website where any person can examine breast cancer by filling values.</p>
                    <p class="u-text u-text-14">Tools Used<br>Django, MySQL, HTML, Python, CSS, Bootstrap.....<br>
                      <br>Visit url:
                    </p>
                  </div>
                </div>
                <a href="#" class="u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-btn u-btn-round u-button-style u-grey-75 u-hover-palette-2-base u-radius-50 u-text-hover-black u-btn-3">Edit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-group u-hidden-md u-hidden-sm u-hidden-xs u-palette-5-light-3 u-shape-rectangle u-group-4" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
          <div class="u-container-layout u-container-layout-7">
            <p class="u-align-center u-text u-text-15">
              <span style="font-weight: 700;" class="u-text-custom-color-3">I am the founder of</span>
              <a href="#" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4" target="_blank">@companyname.com</a>
            </p>
            <p class="u-align-center u-text u-text-16">
              <span class="u-text-custom-color-2" style="font-weight: 700;">Internship</span> at <span class="u-text-palette-3-dark-2" style="font-weight: 700;">The Spark Foundation</span>
              <br>
              <span style="font-weight: 700;">Role:</span> Data Science and Business analytics<br>
              <br>
            </p>
            <p class="u-align-center u-text u-text-17">Training from <span class="u-text-custom-color-3" style="font-weight: 700;">CISCO</span> in <span class="u-text-palette-2-dark-2">Networking</span>
              <br>
              <span style="font-weight: 700;">&nbsp;URL:</span>
              <a href="https://nicepage.com/k/love-html-templates" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5">https://drive.google.com/file/d/1VtV-k1Ls_RKqyi8-VlKcGlNWqUOVjrCS/view</a>
            </p>
            <p class="u-align-center u-text u-text-18">I have solved more than 100 competetive questions on <span class="u-text-custom-color-3">hackerearth</span>.
            </p>
            <p class="u-align-center u-text u-text-19">waiting for typing</p>
            <p class="u-align-center u-text u-text-20">waiting for typing</p>
            <p class="u-align-center u-text u-text-21">waiting for typing.....</p>
          </div>
        </div>
        <a href="#" class="u-active-palette-1-base u-align-center u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-palette-4-dark-1 u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-6">ADD MORE SECTION +</a>
      </div>
    </section>
    <section class="u-clearfix u-palette-5-light-3 u-section-4" id="carousel_04a5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-text u-text-default u-text-1">CERTIFICATIONS</h5>
        <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" id="carousel-ed58">
          <div class="u-gallery-inner u-gallery-inner-1" role="listbox">
            <div class="u-effect-zoom u-gallery-item u-gallery-item-1">
              <div class="u-back-slide u-back-slide-1" data-image-width="1527" data-image-height="1080">
                <img class="u-back-image u-expanded" src="static/images/cppcertificate-1.jpg" alt="Python certificate">
              </div>
              <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
                <p class="u-gallery-heading" style="width: 329px; margin-right: auto; margin-left: auto;">Python certificate</p>
                <p class="u-gallery-text" style="width: 329px; margin-right: auto; margin-left: auto;">from iit bombay</p>
              </div>
            </div>
            <div class="u-effect-zoom u-gallery-item u-gallery-item-2">
              <div class="u-back-slide u-back-slide-2" data-image-width="1398" data-image-height="1080">
                <img class="u-back-image u-expanded" src="static/images/IBMcertificate-1.jpg" alt="from iit bomba">
              </div>
              <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
                <p class="u-gallery-heading" style="width: 1100px; margin-right: auto; margin-left: auto;">from iit bomba</p>
                <p class="u-gallery-text" style="width: 1100px; margin-right: auto; margin-left: auto;">from iit bombayhgfgh</p>
              </div>
            </div>
            <div class="u-effect-zoom u-gallery-item u-gallery-item-3">
              <div class="u-back-slide u-back-slide-3" data-image-width="1527" data-image-height="1080">
                <img src="static/images/IITKPythoncertificate-1.jpg" alt="" data-image-width="2000" data-image-height="1333" class="u-back-image u-expanded">
              </div>
              <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3">
                <p class="u-gallery-heading" style="width: 1100px; margin-right: auto; margin-left: auto;">ghffhj</p>
                <p class="u-gallery-text" style="width: 1100px; margin-right: auto; margin-left: auto;">fdhffj</p>
              </div>
            </div>
            <div class="u-effect-zoom u-gallery-item u-gallery-item-4">
              <div class="u-back-slide u-back-slide-4" data-image-width="1398" data-image-height="1080">
                <img class="u-back-image u-expanded" src="static/images/stanfortMLcertificate-1.jpg">
              </div>
              <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-4">
                <p class="u-gallery-heading" style="width: 1100px; margin-right: auto; margin-left: auto;"></p>
                <p class="u-gallery-text" style="width: 1100px; margin-right: auto; margin-left: auto;"></p>
              </div>
            </div>
            <div class="u-effect-zoom u-gallery-item u-gallery-item-5">
              <div class="u-back-slide u-back-slide-5" data-image-width="1527" data-image-height="1080">
                <img class="u-back-image u-expanded" src="static/images/ccertificate-1.jpg">
              </div>
              <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-5">
                <p class="u-gallery-heading" style="width: 1100px; margin-right: auto; margin-left: auto;"></p>
                <p class="u-gallery-text" style="width: 1100px; margin-right: auto; margin-left: auto;"></p>
              </div>
            </div>
            <div class="u-effect-zoom u-gallery-item u-gallery-item-6">
              <div class="u-back-slide u-back-slide-6" data-image-width="1656" data-image-height="2342">
                <img class="u-back-image u-expanded" src="static/images/googlekickstartcertificate-1.jpg" alt="afghx">
              </div>
              <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-6">
                <p class="u-gallery-heading" style="width: 1100px; margin-right: auto; margin-left: auto;">certificate</p>
                <p class="u-gallery-text" style="width: 1100px; margin-right: auto; margin-left: auto;">click</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-5" id="carousel_9aee">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-palette-1-base u-radius-20 u-shape-round u-size-27-lg u-size-27-xl u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xl u-container-layout-1">
                  <h6 class="u-text u-text-1">Thank you</h6>
                  <h2 class="u-text u-text-2" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">If You have time then also visit my company which provides services like website development, etc...</h2>
                  <p class="u-text u-text-3">Company URL:&nbsp;&nbsp;<br>Furthur Query please contact me.
                  </p>
                  

    
                  <p class="u-text u-text-4" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">©2021 Privacy policy</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30-md u-size-30-sm u-size-30-xs u-size-33-lg u-size-33-xl u-layout-cell-2" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h1 class="u-text u-text-palette-1-base u-text-5">Contact me</h1>
                  <div class="u-expanded-width u-form u-form-1">
                    <form action="Contact" method="POST" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 0px;" source="email" name="name">
                    {% csrf_token %} 
                      <input type="hidden" id="siteId" name="siteId" value="514464" wfd-invisible="true">
                      <input type="hidden" id="pageId" name="pageId" value="514550" wfd-invisible="true">
                      <div class="u-form-group u-form-name">
                        <label for="name-3b9a" class="u-form-control-hidden u-label" wfd-invisible="true">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-input u-input-rectangle u-white u-input-1" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-3b9a" class="u-form-control-hidden u-label" wfd-invisible="true">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-input u-input-rectangle u-white u-input-2" required="">
                      </div>
                      <div class="u-form-phone u-form-group">
                        <label for="phone" class="u-form-control-hidden u-label" wfd-invisible="true">Phone</label>
                        <input type="phone" placeholder="Enter a valid mobile No." id="phone-3b9a" name="phone" class="u-input u-input-rectangle u-white u-input-2" required="">
                      </div>
                      <div class="u-form-group u-form-message">
                        <label for="message-3b9a" class="u-form-control-hidden u-label" wfd-invisible="true">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-input u-input-rectangle u-white u-input-3" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <a href="Contact" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">Submit</a>
                        <input type="submit" value="Contact" class="u-form-control-hidden" wfd-invisible="true">
                      </div>
                    
                    </form>
                    {%for message in messages %}
                     <h2>{{message}}</h2>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-grey-80" id="sec-d11a"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="720">
          <img src="static/images/Screenshot_2021-07-18_04_06_22.png" class="u-logo-image u-logo-image-1" data-image-width="80">
        </a>
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href=""><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-00d3"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-00d3"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href=""><span class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-5c0c"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-5c0c"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href=""><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-4235"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-4235"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
          <a class="u-social-url" title="linkedin" target="_blank" href=""><span class="u-icon u-social-icon u-social-linkedin u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-8344"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-8344"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
        </div>
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-1"> CARRIER OBJECTIVE: To build carrier in an organisation where I can get the<br>opportunities to prove my abilities by accepting challenges, fulfilling the<br>organisational goals and climb the carrier ladder through continuous learning<br>and commitment.
        </p>
      </div></footer>
    
  </body>
</html>
